body {
    font-family: 'Inter';
    font-size: 1em;
    background-color: #16181B;
    color: white;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    background-color: #19222C;
    margin-bottom: 6.5em;
}


.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-summary {
    max-width: 50%;
    padding-left: 2.5em;
}

#grettings, #study-area {
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
}

#study-area {
    padding-bottom: 0.3em;
}

#grettings a {
    color: #00B2FF;
}

#study-area a {
    color: #E57373;
}

#main-image-container {
    display: flex;
    width: 25%;
    height: 25%;
    padding-top: 1em;
    justify-content: flex-end;
    padding-right: 6.5em;
}

#main-image {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 25%;
}


#about-me-summary {
    max-width: 24em;
    font-size: 1.8em;
    font-weight: normal;
    padding-bottom: 2em;
}

#stack-tags {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, auto);
    justify-content: left;
    align-items: center;
    padding-bottom: 1em;
}


.stack {
    width: 10em;
    height: 2em;
    background-color: #5E00FF;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.stack:hover {
    background-color: #7220FF;
    transform: scale(1.1);
}  

.social-icons {
    display: flex;
    gap: 2.3em;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}
  
.icon {
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
  
.icon img {
    width: 2.5em;
    height: 2.5em;
}
  
.icon:hover {
    transform: scale(1.25);
}

@media (min-width: 1580px) {
    #main-image-container {
        width: 20%;
        height: 20%;
    }

    .stack p {
        font-size: 1.3em;
    }

    h1 {
        font-size: 3.5em;
    }

    #grettings, #study-area {
        font-size: 4.5em;
    }
}

@media (max-width: 1240px) {
    #main-image-container {
        width: 28%;
        height: 28%;
    }

    #grettings, #study-area {
        font-size: 3em;
    }
}

@media (max-width: 1024px) {
    #main-image-container {
        width: 35%;
        height: 35%;
        padding-right: 3em;
    }

    .portfolio-summary {
        max-width: 40%;
    }

    #about-me-summary {
        width: 20em;        
    }

    #grettings, #study-area {
        font-size: 3.5em;
    }
}